<html>
  <head>
    <title>Edit Commentaire N°<%= @comment.id %></title>
  </head>
  <body>
  <div class="card-header text-center">
  Edition Commentaire N°<%=  @comment.id %>
  </div>
   </br>
   <%= form_for @comment,url: gossip_comment_path  do |f| %>
    <div class="d-flex justify-content-around text-center">
      <div class="card " style="width: 18rem;">
        <div class="card-body">
          <p class="card-text">Gossip <%= f.text_area :content , class: 'form-control' %> </p>
          <hr class="my-4">
          <button type="submit", class="btn-primary" > Editer le commentaire </button>
        </div>
      </div>
    </div>
  <% end %>
  </br>
  <a href="<%= gossip_comment_path(@id = params[:gossip_id]) %>" class="btn btn-danger btn-lg btn-block " data-confirm="Etes vous sur ?" data-method="delete">Supprimer Commentaire</a>
  </body>
</html>



