<html>
  <body>
  <%= form_tag url_for(action: 'create'), method: "post" do %>

    <%= label_tag 'Title' %>
    <%= text_field_tag 'title' %>
    <br /> <br />

    <%= label_tag 'Content' %>
    <%= text_area_tag 'content' %>
    <br /> <br />

    <%= submit_tag "Create Post" %>

  <% end %>
  <% if @gossip.errors.any? %>
  <div class="alert alert-warning" role="alert">
A simple warning alert—check it out!
</div>
<% end %>
  </body>
</html>