<html>
  <head>
    <title>The Gossip Project N°<%= params[:id] %></title>
  </head>
  <body>
   
  <div class="card-header text-center">
  The Gossip N°<%= params[:id] %>
  </div>
  <ul class="list-group list-group-flush text-center">
  <li class="list-group-item">Auteur du gossip :<%= @users.find(@gossips.find(params[:id]).user_id).first_name %>  </li> 
    <li class="list-group-item"> <%= link_to"Profil auteur", user_path(@id=params[:id] ,  @author= @users.find(@gossips.find(params[:id]).user_id)) , class: "btn btn-success btn-lg btn-block" %></li>
    <li class="list-group-item"> <%= link_to"Profil Ville", city_path(@id=params[:id] ,  @author= @users.find(@gossips.find(params[:id]).user_id)) , class: "btn btn-success btn-lg btn-block" %></li>
    <li class="list-group-item">Titre du gossip : <%= @gossips.find(params[:id]).title %></li>
    <li class="list-group-item">Date de création du gossip : <%= @gossips.find(params[:id]).created_at %></li>
    <li class="list-group-item"> Contenu du gossip : <%= @gossips.find(params[:id]).content %></li>
    <% if @gossips.find(params[:id]).user_id == current_user.id %>
    <li class="list-group-item"> <%= link_to"Edit Gossip", edit_gossip_path(@id=params[:id]) , class: "btn btn-primary btn-lg btn-block" %></li>
    <li class="list-group-item"><a href="<%= gossip_path(@id = params[:id]) %>" class="btn btn-danger btn-lg btn-block" data-confirm="Etes vous sur ?" data-method="delete">Supprimer Gossip</a></li>
    <% end %>
    
    
   
  </ul>
  <%= form_tag( gossip_comment_index_path(params[:id]) , method: "post") do %>
    <%= label_tag 'Comment' %>
    <%= text_area_tag 'comment' %>
    <br /> <br />
    <%= submit_tag "Créer commentaire" %>
  <% end %>
</div>
<div>
  <p>Commentaires : </p>
  <ul class="list-group list-group-flush text-center">
  <% @comments.each do |comment| %>
    <% if comment.gossip_id == @jean.id %>
      <li class="list-group-item"><%= comment.content %></li>
      <li class="list-group-item"><%= @users.find(comment.user_id).first_name %></li> 
      <li class="list-group-item"> <%= link_to"Editer", edit_gossip_comment_path( @id = params[:id] ,  @commente= comment.id ), class: "btn btn-warning btn-lg btn-block" %></li>
    <% end %>
  <% end %>
  </ul>
</div>
  </body>
</html>




