<html>
  <head>
    <title>The Gossip Project N°<%= params["id"] %></title>
  </head>
  <body>
   
  <div class="card-header text-center">
  The Gossip N°<%= params["id"] %>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">Auteur du gossip :<%= @users.find(@gossips.find(params["id"]).user_id).first_name %>  </li> 
    <li class="list-group-item"> <%= link_to"Profil auteur", page_author_path(@id=params["id"] ,  @author= @users.find(@gossips.find(params["id"]).user_id)) , class: "btn btn-success btn-lg btn-block" %></li>
    <li class="list-group-item">Titre du gossip : <%= @gossips.find(params["id"]).title %></li>
    <li class="list-group-item">Date de création du gossip : <%= @gossips.find(params["id"]).created_at %></li>
    <li class="list-group-item"> Contenu du gossip : <%= @gossips.find(params["id"]).content %>s</li>
  </ul>
</div>
  </body>
</html>

