<html>
  <head>
    <title>Profil de <%= params["id"] %></title>
  </head>
  <body>
    <div class="card-header text-center">
      Profil de <%= @users.find(params["author"]).first_name %> <%= @users.find(params["author"]).last_name %>
    </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item"> Age : <%= @users.find(params["author"]).age %></li>
        <li class="list-group-item"> Ville : <%= @cities.find(@users.find(params["author"]).city_id).name %></li>
        <li class="list-group-item"> Contact mail : <%= @users.find(params["author"]).email %></li>
        <li class="list-group-item"> Description : <%= @users.find(params["author"]).description %></li> 
      </ul>
  </body>
</html>


